body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1, h2{
  margin: 0.5rem 1;
}
.row{
  display: flex;
  justify-content: space-between;
}
.col-1{
  flex: 1;
}
.col-2{
  flex: 2;
}
.blockLook{
  background-color: rgb(92, 80, 80);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}